<div id="logo">
	<%= image_tag("grandmalogo.jpg", :alt => "rss feed,", :height => "60px", :width => "60px") %>
	<h1>GrandMa's Noodle House (祖母的面馆)</h1>

	<div id="search">
		<%= form_tag search_results_path do %>
			<%= text_field_tag :keywords %>
			<%= select_tag :category_search, options_for_select(@categories.collect{ |u| [u.name, u.id] }) %>
			<%= submit_tag 'Search' %>
		<% end %>
	</div>
</div>