<%= render 'header' %>
<div id="search">
		<%= form_tag search_results_path do %>
			<%= text_field_tag :keywords %>
			<%= select_tag :category_search, options_for_select(@categories.collect{ |u| [u.name, u.id] }) %>
			<%= submit_tag 'Search' %>
		<% end %>
	</div>

<h2>Product Listing</h2>

<%= render 'products' %>
